<%- include("../partials/defaultPartials/header") %> 
<%- include("../partials/defaultPartials/navbar") %>
<%- include("../partials/defaultPartials/breadCrumbs") %>
        <section class="section section-lg bg-default text-center">
            <div class="container">
                <h2>videos</h2>
                <!--Bootstrap tabs-->
                <div class="tabs-custom tabs-vertical tabs-video" id="tabs-2">
                    <!--Tab panes-->
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="tabs-2-1">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/cSjKjOn33k8?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="tabs-2-2">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/cSjKjOn33k8?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tabs-2-3">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/RwcMvmlYh5E?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="tab-pane fade " id="tabs-2-4">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/eSjoR-hcCts?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                         </div>

                         <div class="tab-pane fade " id="tabs-2-5">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/f5JdkE-1_L0?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                         </div>

                         <div class="tab-pane fade " id="tabs-2-6">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/1WG3rXCQjfY?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                         </div>



                         <div class="tab-pane fade " id="tabs-2-7">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/vEb268mQiZE?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                         </div>

                        <div class="tab-pane fade " id="tabs-2-8">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/Ths8mkOsDuI?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                         </div>

                        <div class="tab-pane fade" id="tabs-2-9">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/EmxOMvhqwCY?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tabs-2-10">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/4f5bU5fO_pI?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-11">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/MnabgMIKBsw?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-12">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/aLxVFxfuXhU?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-13">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/iJbdT4OMziw?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-14">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/ozEHsybaTf4?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-14">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/ozEHsybaTf4?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-15">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/S8RLsnkDLKk?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-wrap">
                        <ul class="nav nav-tabs">

                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-2-1" data-toggle="tab">
                                <div class="nav-video">
                                    <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                    </figure> -->
                                    <h6 class="nav-video-title">Reni Adebayo-Ige: My Papa with Lyrics</h6>
                                    </div></a></li>
                          
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-2" data-toggle="tab">
                                <div class="nav-video">
                                    <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                    </figure> -->
                                    <h6 class="nav-video-title">Reni Adebayo-Ige: DOOR OF MY HEART Viral Video with Lyrics</h6>
                                    </div></a></li>                           
                                                            
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-3" data-toggle="tab">
                                    <div class="nav-video">
                                    <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                    </figure> -->
                                    <h6 class="nav-video-title">Reni Adebayo-Ige: Unconditional Love(Lyric Video)</h6>
                                    </div></a></li>

                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-4" data-toggle="tab">
                                    <div class="nav-video">
                                    <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                    </figure> -->
                                    <h6 class="nav-video-title">Reni Adebayo-Ige: I Glory in the Lord(Lyric Video)</h6>
                                    </div></a></li>

                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-5" data-toggle="tab">
                                        <div class="nav-video">
                                        <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                        </figure> -->
                                        <h6 class="nav-video-title">Reni Adebayo-Ige: Victory is Mine(Lyric Video)</h6>
                                        </div></a></li>

                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-6" data-toggle="tab">
                                        <div class="nav-video">
                                        <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                        </figure> -->
                                        <h6 class="nav-video-title">Reni Adebayo-Ige: Work Together for Good(Lyric Video)</h6>
                                        </div></a></li>   
        

                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-7" data-toggle="tab">
                                    <div class="nav-video">
                                    <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                    </figure> -->
                                    <h6 class="nav-video-title">Reni Adebayo-Ige: You are Great(Lyric Video)</h6>
                                    </div></a></li>
                                
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-8" data-toggle="tab">
                                    <div class="nav-video">
                                    <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                    </figure> -->
                                    <h6 class="nav-video-title">Reni Adebayo-Ige: The King Is Coming(Lyric Video)</h6>
                                    </div></a></li>
                                
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-9" data-toggle="tab">
                                <div class="nav-video">
                                <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                </figure> -->
                                <h6 class="nav-video-title">Reni Adebayo-Ige: Singing at Winners Christian Church</h6>
                                </div></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-10" data-toggle="tab">
                                <div class="nav-video">
                                <!-- <figure class="nav-video-figure"><img src="/images/video-01-140x81.jpg" alt="" width="140" height="40"/>
                                </figure> -->
                                <h6 class="nav-video-title">Reni: Embassy of God, Kiev, Ukraine, 2009</h6>
                                </div></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-11" data-toggle="tab">
                                <div class="nav-video">
                                <!-- <figure class="nav-video-figure"><img src="/images/video-02-140x81.jpg" alt="" width="140" height="40"/>
                                </figure> -->
                                <h6 class="nav-video-title">Reni: Singing American National Anthem</h6>
                                </div></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-12" data-toggle="tab">
                                <div class="nav-video">
                                <!-- <figure class="nav-video-figure"><img src="/images/video-03-140x81.jpg" alt="" width="140" height="40"/>
                                </figure> -->
                                <h6 class="nav-video-title">Reni - Testimony</h6>
                                </div></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-13" data-toggle="tab">
                                <div class="nav-video">
                                <!-- <figure class="nav-video-figure"><img src="/images/video-04-140x81.jpg" alt="" width="140" height="40"/>
                                </figure> -->
                                <h6 class="nav-video-title">Reni - Favoured One (Story Documentry)</h6>
                                </div></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-14" data-toggle="tab">
                                <div class="nav-video">
                                <!-- <figure class="nav-video-figure"><img src="/images/video-05-140x81.jpg" alt="" width="140" height="40"/>
                                </figure> -->
                                <h6 class="nav-video-title">Reni - Jesus Party</h6>
                                </div></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-15" data-toggle="tab">
                                <div class="nav-video">
                                <!-- <figure class="nav-video-figure"><img src="/images/video-05-140x81.jpg" alt="" width="140" height="40"/>
                                </figure> -->
                                <h6 class="nav-video-title">Reni - Alo (Subtitle)</h6>
                                </div></a></li>
                        </ul>
                    </div>
                </div>
                <a href="https://www.youtube.com/channel/UCTUjCHMFde7ImypyPWyYX3Q/videos" target="_blank" rel="noopener noreferrer" style="color: aliceblue;"><p style="font-size: 16px;">Subscribe to Reni lyric videos on <i class="icon novi-icon socialite fa-youtube" style="font-size: 25px;"></i></p></a>
            </div>
        </section>
<%- include("../partials/defaultPartials/footer") %> 