<footer class="section footer-classic bg-default">
    <div class="container">
      <div class="row row-15">
        <div class="col-sm-12">
          <p class="rights"><span>Reni Music</span><span>&nbsp;</span><span>&copy;&nbsp;</span><!--<script>document.write(new Date().getFullYear())</script>-->2025<!--<span class="copyright-year"></span>--><span>&nbsp;</span><span>\&nbsp;</span>All Rights Reserved
            <!--\ Design by <a href="https://www.nhubnigeria.com/">nHub Nigeria--></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>
<!--coded by houdini-->
</body>
</html>