<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Reni Music || <%= pageTitle %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:400,600,700%7CSource+Code+Pro:300,400,500,600,700,900%7CNothing+You+Could+Do%7CPoppins:400,500">
    <meta http-equiv="Content-Security-Policy" content=" default-src 'self' data: gap; 'unsafe-eval' ws: ;
      style-src 'self' 'unsafe-inline';
      script-src: 'self' 'unsafe-inline';
      img-src *;
      font-src *;
      frame-src *;
    ">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <!-- <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div> -->
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- srcset="images/banner/foreground-02-1600x60.png 1x, images/banner/foreground-02-3200x120.png 2x -->
      <a class="section section-banner d-none d-xl-block section-banner-top" href="" target="blank"><h1 style="font-size: 25px;"><marquee behavior="spin" direction="" style="padding: 5px 0;">The Word Revealed in Songs&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Get Reni's Songs & Albums :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DoorOfMyHeart&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UnconditionalLove&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TheKingIsComing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IBelieve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El-Shaddai&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grace&Mercy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MyPapa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dependable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Testimony&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AllThingsArePossible</marquee></h1></a>
      <!-- Page Header-->