
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap" style="position: absolute">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!-- <img src="images/logo-default-296x52.png" alt="" width="148" height="26"/> -->
                    <!--Brand--><a class="brand" href="/"><h1 style="font-size: 40px; font-weight: bolder; font-family: cursive;">Reni Music</h1></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/about">About</a>
                      </li>
                      <li class="rd-nav-item dropdown"><a class="rd-nav-link">Media</a>
                        <ul class="content">
                          <li><a href="/musics">Musics </a></li>
                          <li class=""><a href="/videos">Videos</a>
                            <!-- <ul class="content">
                              <li><a href="">Hi</a></li>
                              <li><a href="">Hello</a></li>
                              <li><a href="">Am</a></li>
                            </ul> -->
                          </li>
                          <li><a href="https://www.youtube.com/channel/UCQ893GNucCxz8rXExPJ0RIQ" target="_blank" rel="noopener noreferrer">Inspirationals</a></li>
                          <li><a href="/events">Events</a></li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/testimonies">Testimonies</a>
                      </li>
                      <!-- <li class="rd-nav-item"><a class="rd-nav-link" href="/download">Download</a>
                      </li> -->
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contact</a>
                      </li>
                      <li class="rd-nav-item donate"><a class="rd-nav-link" href="https://reniministries.org/" target="_blank" rel="noopener noreferrer">Reni's Charities</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="rd-navbar-collapse">
                  <ul class="socialite-list">
                    <li><a class="icon novi-icon socialite fa-facebook" href="https://web.facebook.com/renimusicANDministries/?ref=br_rs" target="_blank" rel="noopener noreferrer"></a></li>
                    <li><a class="icon novi-icon socialite fa-twitter" href="https://twitter.com/ReniIge" target="_blank" rel="noopener noreferrer"></a></li>
                    <li><a class="icon novi-icon socialite fa-instagram" href="https://www.instagram.com/reniadebayoige/" target="_blank" rel="noopener noreferrer"></a></li>
                    <li><a class="icon novi-icon socialite fa-youtube" href="https://www.youtube.com/watch?v=tta_ziEOf7Y&list=PLl4cJM6zSaZnRzgrgveGCaq3Kp_JyWP5B" target="_blank" rel="noopener noreferrer"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>